{% extends 'trader/base.html' %}

{% block title %}Currenfy | New Trade {% endblock %}

{% block content %}
<div id='new-trade'>
    <form id="new-trade-form" currenfy-action="{% url 'booked-list' %}" method="POST">{% csrf_token %}
        <fieldset>
            <div class="container">
                {# row header #}
                <div class="row">
                    <div class="col-sm-12">
                        <legend><b>New Trade</b></legend>
                        <hr class="hr-legend">
                    </div>
                </div>
                {# row error msg #}
                <div class="row">
                    <div class="col-sm-12">
                        <em id="err-msg" class="error help-block"></em>
                    </div>
                </div>
                {# row 1 #}
                <div class='row'>
                    {# row 1 col 1 #}
                    <div class='col-sm-4'>    
                        <div class='form-group'>
                            <label for="sell-currency">Sell Currency</label>
                            <select
                                id="sell-currency"
                                class="form-control currency-selec"
                                name="sell_currency"
                                data-source="{% url 'fixer-symbols' %}"
                                required="true" autofocus>
                            </select>
                        </div>
                    </div>

                    {# row 1 col 2 #}
                    <div class='col-sm-4'>    
                        <div class='form-group'>
                            <label for="rate">Rate</label>
                            <input
                                id="rate"
                                class="form-control"
                                name="rate"
                                autocomplete="off"
                                data-source="{% url 'fixer-rate' %}"
                                readonly="true"
                                required="true"
                                tabindex="-1">
                        </div>
                    </div>

                    {# row 1 col 3 #}
                    <div class='col-sm-4'>    
                        <div class='form-group'>
                            <label for="buy-currency">Buy Currency</label>
                            <select
                                id="buy-currency"
                                class="form-control currency-selec"
                                name="buy_currency"
                                data-source="{% url 'fixer-symbols' %}"
                                required="true">
                            </select>
                        </div>
                    </div>
                </div>

                {# row 2 #}
                <div class='row'>
                    {# row 2 col 1 #}
                    <div class='col-sm-4'>    
                        <div class='form-group'>
                            <label for="sell-amount">Sell Amount</label>
                            <input
                                id="sell-amount"
                                autocomplete="off"
                                class="form-control"
                                name="sell_amount"
                                required="true">
                        </div>
                    </div>

                    {# row 2 col 1 #}
                    <div class='col-sm-4'>
                    </div>
    
                    {# row 2 col 1 #}
                    <div class='col-sm-4 float-right'>
                        <div class='form-group'>
                            <label for="buy-amount">Buy Amount</label>
                            <input
                                id="buy-amount"
                                class="form-control"
                                name="buy_amount"
                                autocomplete="off"
                                readonly="true"
                                required="true"
                                tabindex="-1">
                        </div>
                    </div>
                </div>

                {# row 3#}
                <div class='row'>
                    {# row 3 col 1 #}
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <div>
                                <button id="create-trade-id" class="btn btn-dark" disabled>Create</button> 
                            </div>
                        </div>
                    </div>
            
                    {# row 3 col 2 #}
                    <div class='col-sm-4'>
                    </div>

                    {# row 3 col 3 #}
                    <div class='col-sm-4 float-sm-right'>
                        <div class='form-group'>
                            <div>
                                <button id="cancel-id" class="btn btn-dark">Cancel</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}

{% block scripts-hook %}
<script type="text/javascript">
</script>
{% endblock scripts-hook %}

{% block document-ready %}
    {# form validation #}
    $.validator.addMethod("number-float-validator", function(value, element) {
        return true
    }, "");

    $( "#new-trade-form" ).validate( {
        rules: {
            buy_currency: "required",
            buy_amount: "required",
            rate: "required",
            sell_currency: "required",
            sell_amount: "required",
        },
        messages: {
            buy_currency: "Buy currency valid symbol required",
            buy_amount: "Valid number required",
            rate: "Valid number required",
            sell_currency: "Sell currency valid symbol required",
            sell_amount: "Valid number required",
        },
        errorElement: "em",
        errorPlacement: function ( error, element ) {
            error.addClass( "help-block" );

            if ( element.prop( "type" ) === "checkbox" ) {
                error.insertAfter( element.parent( "label" ) );
            } else {
                error.insertAfter( element );
            }
        },
        highlight: function ( element, errorClass, validClass ) {
            $( element ).parents( ".col-sm-4" ).addClass( "has-error" ).removeClass( "has-success" );
        },
        unhighlight: function (element, errorClass, validClass) {
            $( element ).parents( ".col-sm-4" ).addClass( "has-success" ).removeClass( "has-error" );
        }
    } );

    {# loads ccy symbols #}
    $('select[data-source]').each(function() {
        $select = $(this)
        currenfy.getFixerSymbols($select);
    });

    {# CCY sell and buy on change to get rate #}
    function rateThis(sell_ccy, buy_ccy) {
        if (currenfy.checkValidCCYSymbol(sell_ccy)){
            if (currenfy.checkValidCCYSymbol(buy_ccy)){
                currenfy.getRate($('#rate'), sell_ccy, buy_ccy, function(){
                    doUpdate();
                });
            }
        }
    }

    $('#err-msg').val('test de mensaje de error.');

    {# update form values #}
    function doUpdate(){
        var submittable = false;

        $('#err-msg').val('');

        var sell_ccy = $('#sell-currency').val();
        var buy_ccy = $('#buy-currency').val();
        var sell_amount = currenfy.parseCurrencyValue($('#sell-amount').val());
        var exchange_rate = currenfy.parseCurrencyValue($('#rate').val());

        submittable = currenfy.checkValidCCYSymbol(sell_ccy) &&
                        currenfy.checkValidCCYSymbol(buy_ccy) &&
                        (typeof sell_amount == 'number') &&
                        (typeof exchange_rate == 'number') &&
                        !isNaN(sell_amount) &&
                        !isNaN(exchange_rate);

        if (submittable){
            var buy_amount = sell_amount*exchange_rate;
            $('#buy-amount').val(buy_amount.format(2, 3, '.', ','));
        } else {
            $('#buy-amount').val('');
        }

        $('#new-trade-form').validate();
        $('#create-trade-id').prop('disabled',!submittable);
        if (submittable && !$('#sell-currency').is(':focus') && !$('#buy-currency').is(':focus')){
            $('#create-trade-id').focus();            
        }
    }

    $('#sell-currency').change(function() {
        {# disable submit #}
        $('#create-trade-id').prop('disabled', true);
        {# reset buy amount #}
        $('#buy_amount').val('');
        {# retrive rate #}
        rateThis($('#sell-currency').val(), $('#buy-currency').val());
    });

    $('#buy-currency').change(function() {
        {# disable submit #}
        $('#create-trade-id').prop('disabled', true);
        {# retrive rate #}
        rateThis($('#sell-currency').val(), $('#buy-currency').val());
    });

    $('#sell-amount').change(function() {
        {# disable create button #}
        $('#create-trade-id').prop('disabled', true);
        {# updating values #}
        doUpdate();
    });

    {# instantiate action buttons #}
    $('#cancel-id').click(function (){
        $('#err-msg').val('trade cancelled by user');
        {# back link to booked trades list #}
        window.location =  "{% url 'booked_trades_list' %}"
    });

    $('#create-trade-id').click(function (){
        {# send trade to back-end #}
        currenfy.postNewTrade($('#new-trade-form'), function(){
            window.location =  "{% url 'booked_trades_list' %}"
        });
    });

    {# keys default behavior #}
    function keyUp(e) {
        var keyCode = e.keyCode;

        if (keyCode==27){
            $('#cancel-id').click();
        }
        {# prevents propagate event #}
        e.preventDefault();
    }   
    document.addEventListener("keyup", keyUp, false);

{% endblock document-ready%}
